<!DOCTYPE HTML>
<html ng-app="myapp">
  <head>
    <title>Huffington Post Code Challenge</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/nv.d3.css">
  </head>
  <body>
    
    <div class="container" ng-controller="MessagesController">

      <!-- article -->
      <div id="article">
        <h1>{{article.title}}</h1>
        <p>Posted: {{article.date | date:'medium'}}</p>
        <p>{{article.paragraph1}}</p>
        <p>{{article.paragraph2}}</p>
        <p>{{article.paragraph3}}</p>
        <h1>{{article.messagesamount}}</h1>
      </div>
      <!-- /article -->

      <!-- realtime chat -->
      <div id="messagesDiv">
          <div ng-repeat="msg in messages" class="message"><em>{{msg.from}}</em>: {{msg.body}}</div>
      </div>
        <input type="text" ng-model="name" placeholder="Name">
        <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">
        <!-- /realtime chat -->

        <!-- bullet chart -->
        <nvd3-bullet-chart
          data="messagesCount"
          margin="{left:75,top:30,bottom:30,right:10}"
          width="550"
          height="160">
          <svg></svg>
        </nvd3-bullet-chart>
        <!-- /bullet chart -->
    </div>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="d3/nv.d3.js"></script>
    <script type="text/javascript" src="d3/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript" src="app.js"></script>
    

    <!-- /scripts -->
  </body>
</html>