<!DOCTYPE HTML>
<html lang="en" ng-app="myapp">
  <head>
    <title>Live Discourse</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nv.d3.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/customscrollbar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  </head>
  <body>
    
    <%= yield %>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js"></script>  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/d3/nv.d3.js"></script>
    <script type="text/javascript" src="/javascripts/d3/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript" src="/javascripts/customscrollbar.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <!-- /scripts -->
  </body>
</html>